:host {
  display: block;
  overflow-x: hidden;
}

:host ::ng-deep .fc {
  max-width: 100%;
  font-family: 'Inter', sans-serif;
  color: #1f2937; // text-gray-800
}

:host ::ng-deep .fc .fc-daygrid-day {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

:host ::ng-deep .fc .fc-daygrid-day:hover {
  background-color: #e0f2fe; // light blue
}
